# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/

# Android
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.hprof

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.trae/
